/vendor/
/.env
/.env.*
!/.env.example
/storage/app/updates/
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*.php
/database/*.sqlite
/.idea/
/.vscode/
*.log
!.gitignore