/vendor/
/.env
/.env.*
!/.env.example
/storage/app/updates/
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*.php
/database/*.sqlite
/.idea/
/.vscode/
*.log
!.gitignore*.env
!env.example
!env_fresh2.env.bak
fresh/*.txt
fresh/*.env
*.env.*
!env.example
