RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(?:app|bootstrap|config|database|resources|routes|vendor)(?:/|$) - [F,L]
    RewriteRule ^(?:artisan|composer\.(?:json|lock)|\.env(?:\..*)?)$ - [F,L]
    RewriteCond %{REQUEST_URI} !^/public(?:/|$)
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
